<template>
    <BasicCard class="space-y-6 w-full">
        <div class="flex justify-between">
            <div>
                <p class="text-lg font-bold text-gray-700">Authors Table</p>
                <div class="flex space-x-2">
                    <span class="flex items-center space-x-1">
                        <p class="text-sm font-bold text-gray-400">30 done</p>
                        <p class="text-sm text-gray-400">this month</p>
                    </span>
                </div>
            </div>

        </div>
        
        <div class="overflow-auto w-full">
            <AuthorsTableSection
                :authorsData="authorsData"
            />
        </div>
    </BasicCard>

    <BasicCard class="space-y-6 w-full">
        <div class="flex justify-between">
            <div>
                <p class="text-lg font-bold text-gray-700">Projects</p>
                <div class="flex space-x-2">
                    <img :src="getImgUrl('/icons/checklist-circle.svg')" width="15" height="15">
                    <span class="flex items-center space-x-1">
                        <p class="text-sm font-bold text-gray-400">30 done</p>
                        <p class="text-sm text-gray-400">this month</p>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="overflow-auto w-full">
            <ProjectsSectionTables
                :projectData="projectData2"
            />
        </div>
    </BasicCard>
</template>

<script>
import BasicCard from '../../atoms/BasicCard.vue';
import AuthorsTableSection from '../../molecules/AuthorsTableSection.vue';
import authorsData from '../../../libs/constant/authorsData.json'
import { getImgUrl } from '../../../libs/functions';
import ProjectsSectionTables from '../../molecules/ProjectsSectionTables.vue';
import projectData2 from '../../../libs/constant/projectsData2.json'
export default {
    components: { BasicCard, AuthorsTableSection, ProjectsSectionTables },
    data() {
        return {
            authorsData: authorsData,
            projectData2: projectData2
        }
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>

</style>