<template>
    <BasicCard class="flex flex-col justify-evenly space-y-6 w-full lg:min-w-[625px]">
        <div class="bg-gradient-to-tr from-[#313860] to-[#151928] rounded-xl py-2 overflow-hidden">
            <Chart 
                type="bar"
                fillType="solid"
                :fillOpacity="1"
                :height="200"
                yAxisLabelColor="#FFFFFF"
                :xAxisLabelShow="false"
                :seriesData="chartData"
                :categoriesData="categoriesData"
            />
        </div>

        <div>
            <p class="text-lg font-bold text-gray-700">Active Users</p>
            <span class="flex space-x-1.5">
                <p class="text-sm font-bold text-green-600">(+23)</p>
                <p class="text-sm text-gray-400">than last week</p>
            </span>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-12">
            <ActiveUsersTotalSection
                :icon="'/icons/wallet-icon.svg'"
                title="Users"
                value="32,984"
                valuePercent="65"
                iconSize="20"
            />
            <ActiveUsersTotalSection
                :icon="'/icons/rocket-icon.svg'"
                title="Clicks"
                value="2,42m"
                valuePercent="80"
                iconSize="18"
            />
            <ActiveUsersTotalSection
                :icon="'/icons/cart-icon.svg'"
                title="Sales"
                value="2,400$"
                valuePercent="40"
                iconSize="20.5"
            />
            <ActiveUsersTotalSection
                :icon="'/icons/wrench-icon.svg'"
                title="Items"
                value="320"
                valuePercent="60"
                iconSize="18"
            />
        </div>
    </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import Chart from '../atoms/Chart.vue';
import ActiveUsersTotalSection from '../molecules/ActiveUsersTotalSection.vue';
export default {
    components: { BasicCard, Chart, ActiveUsersTotalSection },
    data() {
        return {
            chartData: [
                {
                    name: 'Active Users',
                    color: '#FFFFFF',
                    data: [350, 250, 100, 300, 500, 400, 450, 250, 150]
                },
            ],
            categoriesData: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        }
    }
}
</script>

<style>

</style>