<template>
    <BasicCard class="flex flex-col justify-evenly space-y-6 w-full">
        <div>
            <p class="text-lg font-bold text-gray-700">Sales Overview</p>
            <span class="flex space-x-1.5">
                <p class="text-sm font-bold text-green-400">(+5) more</p>
                <p class="text-sm text-gray-400">in 2021</p>
            </span>
        </div>
        <Chart
            type="area"
            fillType="gradient"
            :showGrid="true"
            :fillOpacity="0"
            :height="250"
            yAxisLabelColor="#CBD5E0"
            :xAxisLabelShow="true"
            :seriesData="chartData"
            :categoriesData="categoriesData"
        />
    </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import Chart from '../atoms/Chart.vue';
export default {
    data() {
        return {
            chartData: [
                {
                    name: "Teal",
                    color: "#4FD1C5",
                    data: [180, 200, 180, 350, 250, 100, 285, 100, 300, 150, 180, 450]
                },
                {
                    name: "Gray",
                    color: "#2D3748",
                    data: [500, 150, 180, 250, 200, 240, 245, 200, 100, 150, 180, 150]
                },
            ],
            categoriesData: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        };
    },
    components: { BasicCard, Chart }
}
</script>

<style>

</style>