<template>
    <CardsTotalSection />

    <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 space-x-0 lg:space-x-4 xl:space-x-6">
        <BannerCardPuritySection />
        <BannerWorkWithRocketSection />
    </div>

    <div class="flex flex-col xl:flex-row space-y-4 xl:space-y-0 space-x-0 xl:space-x-6">
        <ActiveUsersChartSection />
        <SalesChartSection />
    </div>

    <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 space-x-0 lg:space-x-6">
        <BasicCard class="space-y-6 w-full">
            <div class="flex justify-between">
                <div>
                    <p class="text-lg font-bold text-gray-700">Projects</p>
                    <div class="flex space-x-2">
                        <img :src="getImgUrl('/icons/checklist-circle.svg')" width="15" height="15">
                        <span class="flex items-center space-x-1">
                            <p class="text-sm font-bold text-gray-400">30 done</p>
                            <p class="text-sm text-gray-400">this month</p>
                        </span>
                    </div>
                </div>

                <DotsMenuTools />
            </div>
            
            <div class="overflow-auto w-full">
                <ProjectsTableSection :projectData="projectData" />
            </div>
        </BasicCard>

        <BasicCard class="space-y-2 w-full lg:w-1/2">
            <div>
                <p class="text-lg font-bold text-gray-700">Ordes overview</p>
                <span class="flex items-center space-x-1">
                    <p class="text-sm font-bold text-green-400">+30%</p>
                    <p class="text-sm text-gray-400">this month</p>
                </span>
            </div>

            <div class="flex space-x-4 py-4" v-for="(item, index) in ordersData" :key="index"
                :class="{ 'overflow-hidden': index === ordersData.length - 1 }">
                <TimelineSection :item="item" />
            </div>
        </BasicCard>
    </div>
</template>

<script>
import CardsTotalSection from "../../molecules/CardsTotalSection.vue";
import BannerCardPuritySection from "../../molecules/BannerCardPuritySection.vue";
import BannerWorkWithRocketSection from "../../molecules/BannerWorkWithRocketSection.vue";
import ActiveUsersChartSection from "../../organism/ActiveUsersChartSection.vue";
import SalesChartSection from "../../organism/SalesChartSection.vue";
import BasicCard from "../../atoms/BasicCard.vue";
import IconSection from "../../atoms/IconSection.vue";
import { getImgUrl } from "../../../libs/functions";
import ProgressBar from "../../atoms/ProgressBar.vue";
import ProjectsTableSection from "../../molecules/ProjectsTableSection.vue";
import TimelineSection from "../../atoms/TimelineSection.vue";

export default {
    props: {
        projectData: Object,
        ordersData: Object
    },
    components: {
        CardsTotalSection,
        BannerCardPuritySection,
        BannerWorkWithRocketSection,
        ActiveUsersChartSection,
        SalesChartSection,
        BasicCard,
        IconSection,
        ProgressBar,
        ProjectsTableSection,
        TimelineSection
    },
    methods: {
        getImgUrl
    }
};
</script>

<style>
</style>