<template>
  <DefaultTemplate>
    <TablesScreen />
  </DefaultTemplate>
</template>

<script>
import DefaultTemplate from '../../template/Default.vue'
import TablesScreen from '../../pages-components/tables/Screen.vue';
export default {
    components: {
    DefaultTemplate,
    TablesScreen
}
}
</script>

<style>

</style>