<template>
  <DefaultTemplate>
    <HomeScreen
      :projectData="projectData"
      :ordersData="ordersData"
    />
  </DefaultTemplate>
</template>

<script>
import DefaultTemplate from '../../template/Default.vue'
import HomeScreen from '../../pages-components/home/Screen.vue'
import projectData from '../../../libs/constant/projectsData.json'
import ordersData from '../../../libs/constant/ordersData.json'

export default {
    components: {
      DefaultTemplate,
      HomeScreen
    },
    data() {
        return {
            projectData: projectData,
            ordersData: ordersData
        }
    },
}
</script>

<style>

</style>