<template>
  <Button :class="classStyle">
    <slot></slot>
  </Button>
</template>

<script>
export default {
    props: {
        style: String
    },
    computed: {
      classStyle() {
        return this.style
      }
    }
}
</script>

<style>

</style>