<template>
    <table class="table table-auto w-[600px] md:w-full">
        <thead>
            <tr class="border-b text-left text-[10px] leading-[15px] font-bold text-gray-400">
                <th v-for="(items, index) in data.header" :key="index" class="uppercase pb-3">{{items?.name}}</th>
            </tr>
        </thead>
        <tbody>
            <slot></slot>
        </tbody>
    </table>
</template>

<script>
export default {
    props: {
        data: Object
    }
}
</script>

<style>

</style>