<template>
  <img :src="getImgUrl(url)" :alt="title" :width="width" :height="height" />
</template>

<script>
import { getImgUrl } from '../../libs/functions';
export default {
    props: {
        url: String,
        title: String,
        width: String | Number,
        height: String | Number
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>

</style>