<template>
    <div>
        <p class="text-xs">{{parent}} / {{children}}</p>
    </div>
</template>

<script>
export default {
    props: {
        parent: String,
        children: String
    }
}
</script>

<style>

</style>