<template>
    <div class="flex items-center space-x-1 cursor-pointer">
        <img :src="getImgUrl(icon)" alt="">
        <p :class="`text-[10px] font-bold ${colorText}`">{{text}}</p>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    props: {
        icon: String,
        text: String,
        colorText: String
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>
</style>