<template>
  <BasicCard class="flex flex-col justify-evenly items-center px-5 xl:px-12 py-6">
    <img
      :src="getImgUrl(icon)"
      class="bg-teal-400 p-4 rounded-lg w-14 h-14"
    />
    <div class="text-center border-b pb-3">
      <p class="text-lg font-bold text-gray-700">{{title}}</p>
      <p class="text-xs font-bold text-gray-400">{{detailTitle}}</p>
    </div>
    <p class="text-lg font-bold text-gray-700">{{total}}</p>
  </BasicCard>
</template>

<script>
import { getImgUrl } from '../../libs/functions';
import BasicCard from './BasicCard.vue';

export default {
    props: {
        icon: String,
        title: String,
        detailTitle: String,
        total: String
    },
    methods: {
        getImgUrl,
    },
    components: { BasicCard }
};
</script>

<style></style>
