<template>
    <apexchart class="w-full" :height="height" :options="options" :series="series"></apexchart>
</template>
<script>
export default {
    name: 'Chart',
    props: {
        type: String,
        showGrid: Boolean,
        fillType: String,
        fillOpacity: Number,
        height: Number,
        yAxisLabelColor: String,
        xAxisLabelShow: Boolean,
        seriesData: Object,
        categoriesData: {
            type: Array,
            default: () => []
        },
    },
    data() {
        return {
            options: {
                chart: {
                    foreColor: this.yAxisLabelColor,
                    height: "100%",
                    type: this.type,
                    id: 'chart',
                    toolbar: {
                        show: false
                    },
                    sparkline: {
                        enabled: false
                    },
                },
                plotOptions: {
                    bar: {
                        columnWidth: "13%",
                        borderRadius: 3,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                grid: {
                    show: this.showGrid
                },
                fill: {
                    type: this.fillType,
                    opacity: this.fillOpacity,
                    gradient: {
                        shade: 'light',
                        type: "vertical",
                        shadeIntensity: 0.9,
                        gradientToColors: undefined,
                        inverseColors: false,
                        opacityFrom: 0,
                        opacityTo: 1,
                        stops: [0, 100],
                        colorStops: []
                    }
                },
                xaxis: {
                    show: this.xAxisLabelShow,
                    labels: {
                        show: this.xAxisLabelShow
                    },
                    axisBorder: {
                        show: this.xAxisLabelShow
                    },
                    axisTicks: {
                        show: this.xAxisLabelShow
                    },
                    categories: this.categoriesData
                },
            },
            series: this.seriesData
        }
    }
}
</script>