<template>
    <div class="relative w-full lg:w-[70%] xl:min-w-[400px] text-white">
        <img :src="getImgUrl('/images/credit-card-background.png')" alt="card">
        <div>
            <p class="text-lg font-bold absolute top-8 left-8">Purity UI</p>
            <div class="absolute top-8 right-8 w-8 h-8 bg-white rounded-full bg-opacity-40"></div>
            <div class="absolute top-8 right-14 w-8 h-8 bg-white rounded-full bg-opacity-40"></div>
        </div>

        <div class="absolute bottom-8 left-8">
            <p class="text-2xl font-bold text-white">7812 2139 0823 XXXX</p>
            <div class="flex items-center space-x-8">
                <div>
                    <p class="text-[10px]">VALID THRU</p>
                    <p class="text-sm font-bold">05/24</p>
                </div>
                <div>
                    <p class="text-[10px]">CVV</p>
                    <p class="text-sm font-bold">09X</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    methods: {
        getImgUrl
    }
}
</script>

<style>

</style>