<template>
    <div class="cursor-pointer">
        <ol class="list-disc text-xs -space-y-2.5 text-gray-400">
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>