<template>
  <div :class="`${padding ?? 'p-3'} bg-teal-300 ${radius ?? 'rounded-xl'}`">
    <img :src="getImgUrl(icon)" :width="iconWidth ?? 22" :height="iconHeight ?? 22" />
  </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions'
export default {
    props: {
        icon: String,
        padding: String,
        radius: String,
        iconWidth: String | Number,
        iconHeight: String | Number
    },
    methods: {
      getImgUrl
    }
};
</script>

<style>
</style>