<template>
    <div class="flex items-center space-x-4 rounded-xl bg-white px-4 py-3 border border-gray200">
        <img v-if="leftIcon.length > 0" :src="getImgUrl(leftIcon)" :class="leftIconSize" />
        <input type="text" class="outline-none text-xs w-full" :placeholder="placeHolder">
        <img v-if="rightIcon.length > 0" :src="getImgUrl(rightIcon)" class="w-8 h-4" />
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    props: {
        leftIcon: String,
        rightIcon: String,
        placeHolder: String,
        leftIconSize: String
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>
</style>