<template>
    <div class="space-y-6">
        <div v-for="index in 5" :key="index" class="flex justify-between items-center">
            <div>
                <p class="text-sm font-bold text-gray-700">March, 01, 2020</p>
                <p class="text-xs font-bold text-gray-400">#MS-415646</p>
            </div>
            <div class="flex items-center space-x-2">
                <p class="text-xs font-bold text-gray-400">$180</p>
                <div class="flex items-center">
                    <img :src="getImgUrl('/icons/pdf-icon.svg')" alt="" />
                    <p class="text-[10px] font-bold text-gray-700">PDF</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    methods: {
        getImgUrl
    }
}
</script>

<style>
</style>