<template>
    <div class="space-x-5">
        <SearchInput />
        <div class="flex items-center space-x-2">
            <img src="/icons/person-icon.svg" width="16" height="16" />
            <p class="hidden sm:block text-xs font-bold text-gray500">Sign In</p>
        </div>
        <div class="flex items-center">
            <img src="/icons/gear-icon.svg" width="16" height="16" />
        </div>
        <div class="flex items-center">
            <img src="/icons/notification-icon.svg" width="16" height="16" />
        </div>
    </div>
</template>

<script>
import SearchInput from './SearchInput.vue';
export default {
    components: { SearchInput }
}
</script>

<style>
</style>