<template>
    <div class="bg-gray-300 w-full h-1.5 rounded-full relative">
        <div class="absolute left-0 h-1.5 rounded-full bg-teal-300" :style="style"></div>
    </div>
</template>

<script>
export default {
    props: {
        valuePercent: String | Number
    },
    computed: {
        style() {
            return `width: ${this.valuePercent}%`
        }
    }
}
</script>

<style>

</style>