<template>
    <form>
        <div class="flex space-x-4 rounded-2xl bg-white px-4 py-3 border border-gray200">
            <img src="/icons/search-icon.svg" width="15" height="15"/>
            <input type="text" class="outline-none text-xs" placeholder="Type here...">
        </div>
    </form>
</template>

<script>
export default {

}
</script>

<style>

</style>