<template>
  <svg
    width="15"
    height="16"
    viewBox="0 0 15 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.5388 7.06262H8.43726C8.06429 7.06262 7.70661 6.91446 7.44289 6.65074C7.17916 6.38702 7.03101 6.02933 7.03101 5.65637V1.55481C7.03101 1.52373 7.01866 1.49392 6.99668 1.47195C6.97471 1.44997 6.9449 1.43762 6.91382 1.43762H4.21851C3.72122 1.43762 3.24431 1.63517 2.89268 1.9868C2.54105 2.33843 2.34351 2.81534 2.34351 3.31262V12.6876C2.34351 13.1849 2.54105 13.6618 2.89268 14.0134C3.24431 14.3651 3.72122 14.5626 4.21851 14.5626H10.781C11.2783 14.5626 11.7552 14.3651 12.1068 14.0134C12.4585 13.6618 12.656 13.1849 12.656 12.6876V7.17981C12.656 7.14873 12.6437 7.11892 12.6217 7.09694C12.5997 7.07497 12.5699 7.06262 12.5388 7.06262Z"
      :fill="isActive ? 'white' : '#4FD1C5'"
    />
    <path
      d="M12.2816 6.026L8.06841 1.81282C8.06021 1.80467 8.0498 1.79913 8.03846 1.79689C8.02713 1.79465 8.01539 1.79581 8.00471 1.80022C7.99403 1.80464 7.9849 1.81211 7.97846 1.8217C7.97202 1.83129 7.96855 1.84257 7.96851 1.85412V5.65715C7.96851 5.78147 8.01789 5.9007 8.1058 5.98861C8.19371 6.07652 8.31294 6.1259 8.43726 6.1259H12.2403C12.2518 6.12585 12.2631 6.12239 12.2727 6.11595C12.2823 6.10951 12.2898 6.10037 12.2942 6.0897C12.2986 6.07902 12.2998 6.06728 12.2975 6.05594C12.2953 6.04461 12.2897 6.03419 12.2816 6.026Z"
      :fill="isActive ? 'white' : '#4FD1C5'"
    />
  </svg>
</template>

<script>
export default {
    props: {
        isActive: Boolean
    }
};
</script>

<style>
</style>