<template>
  <svg
    width="15"
    height="16"
    viewBox="0 0 15 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2_94)">
      <path
        d="M3.04663 15.0316H2.10913C1.92265 15.0316 1.74381 14.9575 1.61195 14.8257C1.48008 14.6938 1.40601 14.515 1.40601 14.3285V10.1097C1.40601 9.92326 1.48008 9.74442 1.61195 9.61256C1.74381 9.4807 1.92265 9.40662 2.10913 9.40662H3.04663C3.23311 9.40662 3.41195 9.4807 3.54381 9.61256C3.67568 9.74442 3.74975 9.92326 3.74975 10.1097V14.3285C3.74975 14.515 3.67568 14.6938 3.54381 14.8257C3.41195 14.9575 3.23311 15.0316 3.04663 15.0316Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
      <path
        d="M9.60913 15.0308H8.67163C8.48515 15.0308 8.30631 14.9567 8.17445 14.8249C8.04259 14.693 7.96851 14.5142 7.96851 14.3277V7.29645C7.96851 7.10997 8.04259 6.93112 8.17445 6.79926C8.30631 6.6674 8.48515 6.59332 8.67163 6.59332H9.60913C9.79561 6.59332 9.97445 6.6674 10.1063 6.79926C10.2382 6.93112 10.3123 7.10997 10.3123 7.29645V14.3277C10.3123 14.5142 10.2382 14.693 10.1063 14.8249C9.97445 14.9567 9.79561 15.0308 9.60913 15.0308Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
      <path
        d="M12.8904 15.0311H11.9529C11.7664 15.0311 11.5876 14.957 11.4557 14.8252C11.3238 14.6933 11.2498 14.5145 11.2498 14.328V4.0155C11.2498 3.82902 11.3238 3.65018 11.4557 3.51832C11.5876 3.38646 11.7664 3.31238 11.9529 3.31238H12.8904C13.0769 3.31238 13.2557 3.38646 13.3876 3.51832C13.5194 3.65018 13.5935 3.82902 13.5935 4.0155V14.328C13.5935 14.5145 13.5194 14.6933 13.3876 14.8252C13.2557 14.957 13.0769 15.0311 12.8904 15.0311Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
      <path
        d="M6.32788 15.031H5.39038C5.2039 15.031 5.02506 14.9569 4.8932 14.8251C4.76133 14.6932 4.68726 14.5144 4.68726 14.3279V1.67163C4.68726 1.48515 4.76133 1.30631 4.8932 1.17445C5.02506 1.04258 5.2039 0.968506 5.39038 0.968506H6.32788C6.51436 0.968506 6.6932 1.04258 6.82507 1.17445C6.95693 1.30631 7.03101 1.48515 7.03101 1.67163V14.3279C7.03101 14.5144 6.95693 14.6932 6.82507 14.8251C6.6932 14.9569 6.51436 15.031 6.32788 15.031Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
    </g>
    <defs>
      <clipPath id="clip0_2_94">
        <rect
          width="15"
          height="15"
          fill="white"
          transform="translate(-0.000244141 0.5)"
        />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
    props: {
        isActive: Boolean
    }
};
</script>

<style>
</style>