<template>
  <svg
    width="15"
    height="16"
    viewBox="0 0 15 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2_155)">
      <path
        d="M13.9933 1.6216C13.9879 1.59569 13.9753 1.57184 13.9569 1.55285C13.9384 1.53385 13.915 1.52051 13.8892 1.51437C12.1733 1.09484 8.20859 2.58986 6.06054 4.73703C5.67742 5.11705 5.32815 5.52974 5.0167 5.97042C4.35429 5.91183 3.69189 5.96075 3.12734 6.20685C1.53447 6.90792 1.0707 8.73722 0.941501 9.52413C0.934173 9.5672 0.936937 9.61139 0.949577 9.65321C0.962216 9.69503 0.984386 9.73335 1.01434 9.76515C1.0443 9.79696 1.08123 9.82137 1.12222 9.83649C1.16321 9.8516 1.20715 9.857 1.25058 9.85226L3.80849 9.57013C3.81032 9.76298 3.82196 9.95561 3.84336 10.1473C3.85623 10.2804 3.91531 10.4048 4.01035 10.4988L5.00087 11.487C5.09503 11.5819 5.21938 11.641 5.35244 11.654C5.54303 11.6753 5.73459 11.687 5.92636 11.6889L5.6457 14.2436C5.64102 14.287 5.64646 14.3309 5.66159 14.3719C5.67673 14.4128 5.70115 14.4497 5.73294 14.4797C5.76472 14.5096 5.80302 14.5318 5.84481 14.5444C5.8866 14.5571 5.93076 14.5599 5.97382 14.5526C6.75927 14.4267 8.59179 13.9629 9.28876 12.37C9.53486 11.8055 9.58525 11.1463 9.52841 10.4871C9.97016 10.1756 10.3839 9.82628 10.765 9.44298C12.9198 7.29904 14.4063 3.42277 13.9933 1.6216ZM8.61523 6.88536C8.41847 6.68873 8.28445 6.43816 8.23011 6.16535C8.17578 5.89254 8.20357 5.60975 8.30998 5.35273C8.41639 5.09572 8.59663 4.87604 8.8279 4.72148C9.05918 4.56692 9.3311 4.48442 9.60927 4.48442C9.88744 4.48442 10.1594 4.56692 10.3906 4.72148C10.6219 4.87604 10.8022 5.09572 10.9086 5.35273C11.015 5.60975 11.0428 5.89254 10.9884 6.16535C10.9341 6.43816 10.8001 6.68873 10.6033 6.88536C10.4728 7.01602 10.3179 7.11968 10.1473 7.1904C9.97676 7.26112 9.79392 7.29753 9.60927 7.29753C9.42462 7.29753 9.24179 7.26112 9.07122 7.1904C8.90065 7.11968 8.7457 7.01602 8.61523 6.88536Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
      <path
        d="M4.93335 12.2028C4.7728 12.3637 4.51528 12.4264 4.20532 12.48C3.50893 12.5986 2.89399 11.9969 3.01909 11.2929C3.06685 11.026 3.20806 10.6519 3.29595 10.564C3.31516 10.5451 3.32794 10.5207 3.33249 10.4942C3.33704 10.4677 3.33311 10.4404 3.32128 10.4162C3.30944 10.3921 3.29029 10.3723 3.26654 10.3596C3.2428 10.3469 3.21567 10.3421 3.18901 10.3457C2.79959 10.3934 2.4373 10.5699 2.15981 10.8473C1.47104 11.5366 1.40601 14.0945 1.40601 14.0945C1.40601 14.0945 3.96538 14.0295 4.65415 13.3401C4.93237 13.0629 5.10915 12.7 5.156 12.3101C5.16684 12.1876 5.01772 12.1147 4.93335 12.2028Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
    </g>
    <defs>
      <clipPath id="clip0_2_155">
        <rect
          width="15"
          height="15"
          fill="white"
          transform="translate(-0.000244141 0.500061)"
        />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
    props: {
        isActive: Boolean
    }
};
</script>

<style>
</style>