<template>
  <svg
    width="13"
    height="12"
    viewBox="0 0 13 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.2959 1.51341C7.83981 1.02099 7.20278 0.749817 6.49966 0.749817C5.79278 0.749817 5.15364 1.01935 4.69966 1.50872C4.24075 2.00349 4.01716 2.67591 4.06966 3.402C4.17372 4.8345 5.2638 5.99981 6.49966 5.99981C7.73551 5.99981 8.82372 4.83474 8.92942 3.40247C8.98262 2.68294 8.75762 2.01193 8.2959 1.51341Z"
      :fill="isActive ? 'white' : '#4FD1C5'"
    />
    <path
      d="M10.6248 11.2493H2.37477C2.26678 11.2507 2.15984 11.228 2.06173 11.1829C1.96361 11.1377 1.87679 11.0713 1.80758 10.9884C1.65524 10.8063 1.59383 10.5576 1.6393 10.3061C1.83711 9.2088 2.45445 8.287 3.42477 7.63989C4.2868 7.06544 5.37875 6.74927 6.49976 6.74927C7.62078 6.74927 8.71273 7.06567 9.57476 7.63989C10.5451 8.28677 11.1624 9.20856 11.3602 10.3059C11.4057 10.5574 11.3443 10.8061 11.1919 10.9882C11.1228 11.0711 11.0359 11.1376 10.9378 11.1828C10.8397 11.2279 10.7328 11.2506 10.6248 11.2493V11.2493Z"
      :fill="isActive ? 'white' : '#4FD1C5'"
    />
  </svg>
</template>

<script>
export default {
    props: {
        isActive: Boolean
    }
};
</script>

<style>
</style>