<template>
  <svg
    width="15"
    height="16"
    viewBox="0 0 15 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2_106)">
      <path
        d="M13.7563 4.03142C13.7226 3.96577 13.6738 3.90902 13.6139 3.8658C13.5541 3.82257 13.4849 3.79409 13.412 3.78267C13.3391 3.77124 13.2645 3.77721 13.1943 3.80007C13.1241 3.82293 13.0603 3.86205 13.0081 3.91423L11.2081 5.7154C11.1197 5.80248 11.0006 5.85129 10.8766 5.85129C10.7525 5.85129 10.6334 5.80248 10.5451 5.7154L9.76696 4.93611C9.72342 4.89258 9.68889 4.8409 9.66532 4.78402C9.64176 4.72714 9.62963 4.66618 9.62963 4.60461C9.62963 4.54305 9.64176 4.48208 9.66532 4.4252C9.68889 4.36833 9.72342 4.31665 9.76696 4.27312L11.5593 2.48044C11.6131 2.42672 11.6529 2.36074 11.6755 2.28818C11.6981 2.21563 11.7027 2.13868 11.6889 2.06395C11.6751 1.98923 11.6434 1.91898 11.5964 1.85924C11.5494 1.79951 11.4887 1.75209 11.4193 1.72107C10.0655 1.11579 8.37566 1.43161 7.31013 2.48923C6.40486 3.38806 6.13503 4.79255 6.57038 6.34265C6.59386 6.42531 6.59399 6.51286 6.57077 6.59559C6.54756 6.67832 6.50189 6.75302 6.43884 6.8114L1.5615 11.266C1.37149 11.4366 1.21823 11.6441 1.11107 11.8759C1.0039 12.1077 0.945078 12.3588 0.938185 12.6141C0.931292 12.8694 0.976475 13.1234 1.07098 13.3606C1.16548 13.5978 1.30732 13.8133 1.48784 13.9939C1.66836 14.1745 1.88379 14.3164 2.12097 14.4111C2.35816 14.5057 2.61213 14.551 2.86739 14.5442C3.12266 14.5374 3.37387 14.4787 3.6057 14.3716C3.83753 14.2646 4.04511 14.1114 4.21579 13.9215L8.71814 9.03327C8.77568 8.97103 8.84911 8.92567 8.93052 8.90208C9.01194 8.87849 9.09824 8.87755 9.18015 8.89938C9.62146 9.0203 10.0767 9.08304 10.5342 9.08601C11.5128 9.08601 12.3715 8.76931 12.9908 8.15905C14.1378 7.02907 14.3127 5.11247 13.7563 4.03142ZM2.91472 13.6007C2.72177 13.6217 2.52704 13.5824 2.35741 13.488C2.18777 13.3937 2.05159 13.2491 1.96767 13.0741C1.88374 12.899 1.8562 12.7023 1.88886 12.511C1.92151 12.3196 2.01274 12.1432 2.14996 12.0059C2.28719 11.8686 2.46363 11.7773 2.65495 11.7446C2.84627 11.7119 3.04302 11.7394 3.21807 11.8232C3.39311 11.9071 3.53781 12.0432 3.63219 12.2128C3.72657 12.3824 3.76599 12.5771 3.74499 12.7701C3.7219 12.9824 3.62701 13.1804 3.47602 13.3315C3.32504 13.4825 3.12702 13.5775 2.91472 13.6007Z"
        :fill="isActive ? 'white' : '#4FD1C5'"
      />
    </g>
    <defs>
      <clipPath id="clip0_2_106">
        <rect
          width="15"
          height="15"
          fill="white"
          transform="translate(-0.000244141 0.5)"
        />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
    props: {
        isActive: Boolean
    }
};
</script>

<style>
</style>