<template>
    <div class="relative">
        <img :src="getImgUrl(item?.image)" width="22" height="22">
        <div class="absolute bg-gray-200 h-full w-1 rounded-3xl left-[40%] top-7"></div>
    </div>
    <div>
        <p class="text-sm font-bold text-gray-700">{{item?.name}}</p>
        <p class="text-xs font-bold text-gray-400 mt-1">{{item?.date}}</p>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    props: {
        item: Object
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>

</style>