<template>
    <div>
        <p class="text-[10px] font-bold text-gray-400">{{ transactionData.status }}</p>
        <div class="grid grid-flow-row gap-6 mt-4">
            <div class="flex justify-between items-center" v-for="(item, index) in transactionData.data" :key="index">
                <div class="flex items-center space-x-4">
                    <img
                        :src="getImgUrl(`/icons/${item.status === 'OUT' ? 'down-arrow-red-icon.svg' : item.status === 'IN' ? 'up-arrow-green-icon.svg' : 'exclamation-icon.svg' }`)">
                    <div class="space-y-1">
                        <p class="text-sm font-bold text-gray-700">{{ item.name }}</p>
                        <p class="text-xs font-bold text-gray-400">{{ item.date }}</p>
                    </div>
                </div>
                <p class="text-sm font-bold" :class="{ 'text-red-500': item.status === 'OUT', 'text-green-400': item.status === 'IN', 'text-gray-700': item.status === 'PENDING' }">
                    {{ item.status !== 'PENDING' ? item.total : 'Pending' }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';

export default {
    props: {
        transactionData: Object
    },
    methods: {
        getImgUrl
    }
}
</script>

<style>
</style>