<template>
    <div class="space-y-2">
        <div class="flex items-center space-x-2">
            <IconSection
                :icon="icon"
                :iconWidth="iconSize"
                :iconHeight="iconSize"
                padding="p-1.5"
                radius="rounded-md"
            />
            <p class="text-xs font-bold text-gray-400">{{title}}</p>
        </div>

        <div class="space-y-2">
            <p class="text-lg font-bold text-gray-700">{{value}}</p>
            <ProgressBar
                :valuePercent="valuePercent"
            />
        </div>
    </div>
</template>

<script>
import IconSection from '../atoms/IconSection.vue';
import ProgressBar from '../atoms/ProgressBar.vue';
export default {
    components: { IconSection, ProgressBar },
    props: {
        icon: String,
        title: String,
        value: String,
        valuePercent: String,
        iconSize: String
    }
}
</script>

<style>

</style>