<template>
    <BasicCard class="space-y-6 h-full">
        <div class="flex justify-between items-center">
            <p class="text-sm font-bold text-gray-700">Payment Method</p>
            <BasicButton
                :style="'bg-gradient-to-tr from-[#313860] to-[#151928] text-[10px] font-bold text-white px-6 py-2.5 rounded-xl'">
                ADD A NEW CARD
            </BasicButton>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <InputNewCardSection
                :leftIcon="'/icons/mastercard-icon.png'"
                :rightIcon="'/icons/edit-icon.svg'"
                :placeHolder="'7812 2139 0823 XXXX'"
            />

            <InputNewCardSection
                :leftIcon="'/icons/visa-icon.png'"
                :rightIcon="'/icons/edit-icon.svg'"
                :placeHolder="'7812 2139 0823 XXXX'"
            />
        </div>
    </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import BasicButton from '../atoms/BasicButton.vue';
import InputNewCardSection from '../atoms/InputNewCardSection.vue';
export default {
    components: { BasicCard, BasicButton, InputNewCardSection }
}
</script>

<style>
</style>