<template>
    <BasicTable
        :data="authorsData"
    >
        <tr v-for="(items, index) in authorsData.data" :key="index" :class="{'border-b': index !== authorsData.data.length - 1}">
            <td class="py-4 flex space-x-2">
                <img :src="getImgUrl(items?.authors.image)" :alt="items?.authors.name">
                <span class="py-0.5">
                    <p class="text-sm font-bold text-gray-700">{{items?.authors.name}}</p>
                    <p class="text-sm font-normal text-gray-500">{{items?.authors.email}}</p>
                </span>
            </td>
            <td class="py-4">
                <p class="text-sm font-bold text-gray-700">{{items?.function.position}}</p>
                <p class="text-sm font-normal text-gray-500">{{items?.function.section}}</p>
            </td>
            <td class="py-4 pr-2 lg:pr-12 text-center">
                <span class="text-sm font-bold px-4 py-1 text-white rounded-lg" :class="{ 'bg-green-400': items?.status == 'Online', 'bg-gray-300': items?.status == 'Offline' }">{{items?.status}}</span>
            </td>
            <td class="text-sm font-bold">{{items?.employed}}</td>
            <td>
                <Button class="text-sm text-gray-400">Edit</Button>
            </td>
        </tr>
    </BasicTable>
</template>

<script>
import { getImgUrl } from '../../libs/functions';
import BasicTable from '../atoms/BasicTable.vue';
export default {
    props: {
        authorsData: Object
    },
    components: { BasicTable },
    methods: {
        getImgUrl
    }
}
</script>

<style>

</style>