<template>
  <BasicCard>
    <div class="flex flex-col justify-between rounded-xl p-4 h-[250px] lg:h-full" style="background-image: linear-gradient(to top, rgba(49, 56, 96, 0.1), rgba(21, 25, 40, 0.9)), url(/images/people-meeting.png);">
      <div>
        <h1 class="text-lg font-bold text-white">Work with the Rockets</h1>
        <p class="text-sm text-white">
          Wealth creation is an evolutionarily recent positive-sum game. <br />
          It is all about who take the opportunity first.
        </p>
      </div>

      <div class="flex items-center space-x-1">
        <button class="text-xs font-bold text-white">Read More</button>
        <BasicImage url="/icons/arrow-icon-white.svg" :width="14" :height="14" />
      </div>
    </div>
  </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import BasicImage from '../atoms/BasicImage.vue';
export default {
  components: { BasicCard, BasicImage }
};
</script>

<style>
</style>