<template>
  <BasicCard class="flex flex-col md:flex-row justify-between col-span-2 space-y-2 md:space-y-0 space-x-0 md:space-x-2">
    <div class="flex flex-col justify-between space-y-2 md:space-y-0">
      <div class="">
        <p class="text-xs font-bold text-gray-400">Built by developers</p>
        <p class="text-lg font-bold text-gray-700">Purity UI Dashboard</p>
        <p class="text-sm text-gray-400">
          From colors, cards, typography to complex elements, <br />
          you will find the full documentation.
        </p>
      </div>

      <div class="flex items-center space-x-1">
        <button class="text-xs font-bold text-gray-700">Read More</button>
        <BasicImage :url="'/icons/arrow-icon-black.svg'" :width="14" :height="14" />
      </div>
    </div>

    <div class="rounded-xl overflow-hidden">
      <BasicImage class="h-full" :url="'/images/chakra-card-banner.png'" />
    </div>
  </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import BasicImage from '../atoms/BasicImage.vue';
export default {
  components: { BasicCard, BasicImage }
};
</script>

<style>
</style>