<template>
    <div class="p-4 bg-[#F8F9FA] rounded-xl" v-for="index in 3" :key="index">
        <div class="flex justify-between items-center">
            <p class="text-sm font-bold text-gray-500">Oliver Liam</p>
            <div class="flex space-x-5">
                <ButtonDeleteEdit
                    :icon="'/icons/delete-icon.svg'"
                    :text="'DELETE'"
                    :colorText="'text-red-500'"
                />
                <ButtonDeleteEdit
                    :icon="'/icons/edit-icon.svg'"
                    :text="'EDIT'"
                    :colorText="'text-gray-700'"
                />
            </div>
        </div>

        <div class="mt-2.5 text-xs">
            <div class="flex space-x-1.5">
                <p class="text-gray-400">Company Name:</p>
                <p class="font-bold text-gray-500">Viking Burrito</p>
            </div>
            <div class="flex space-x-1.5">
                <p class="text-gray-400">Email Address:</p>
                <p class="font-bold text-gray-500">oliver@burrito.com</p>
            </div>
            <div class="flex space-x-1.5">
                <p class="text-gray-400">VAT Number:</p>
                <p class="font-bold text-gray-500">FRB123456</p>
            </div>
        </div>
    </div>
</template>

<script>
import { getImgUrl } from '../../libs/functions';
import ButtonDeleteEdit from '../atoms/ButtonDeleteEdit.vue';

export default {
    methods: {
        getImgUrl
    },
    components: { ButtonDeleteEdit}
}
</script>

<style>
</style>