<template>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 xl:gap-6">
    <CardTotal
        title="Today's Money"
        value="$53,000"
        percentValue="+55%"
        percentValueStyle="text-green-400"
        :icon="'/icons/wallet-icon.svg'"
    />
    <CardTotal
        title="Today's Users"
        value="2,300"
        percentValue="+5%"
        percentValueStyle="text-green-400"
        :icon="'/icons/www-icon.svg'"
    />
    <CardTotal
        title="New Clients"
        value="+3,052"
        percentValue="-14%"
        percentValueStyle="text-red-500"
        :icon="'/icons/document-2-icon.svg'"
    />
    <CardTotal
        title="Total Sales"
        value="$173,000"
        percentValue="+8%"
        percentValueStyle="text-green-400"
        :icon="'/icons/cart-icon.svg'"
    />
  </div>
</template>

<script>
import CardTotal from './CardTotal.vue';

export default { 
    components: {
        CardTotal
    },
};
</script>

<style>
</style>