<template>
  <div
    class="flex justify-between items-center p-4 lg:p-3 xl:p-4 bg-white rounded-2xl shadow-md"
  >
    <div class="flex flex-col">
      <p class="text-xs font-bold text-gray-400">{{title}}</p>
      <span class="flex items-baseline space-x-2">
        <p class="text-lg font-bold">{{value}}</p>
        <p :class="`text-sm font-bold ${percentValueStyle}`">{{percentValue}}</p>
      </span>
    </div>

    <IconSection :icon="icon" />
  </div>
</template>

<script>
import IconSection from "../atoms/IconSection.vue";
import { getImgUrl } from "../../libs/functions";
export default {
    props: {
        title: String,
        value: String,
        percentValue: String,
        percentValueStyle: String,
        icon: String
    },
    components: { IconSection },
    methods: {
        getImgUrl,
    },
};
</script>

<style>
</style>
