<template>
    <BasicCard class="w-full">
        <div class="flex justify-between items-center mb-8">
            <p class="text-lg font-bold text-gray-700">Invoie</p>
            <BasicButton :style="'px-8 py-1.5 rounded-lg border border-teal-400 text-teal-400 text-[10px] font-bold'">
                View All
            </BasicButton>
        </div>

        <InvoiceListSection/>
    </BasicCard>
</template>

<script>
import BasicCard from '../atoms/BasicCard.vue';
import BasicButton from '../atoms/BasicButton.vue';
import InvoiceListSection from '../atoms/InvoiceListSection.vue';
export default { components: { BasicCard, BasicButton, InvoiceListSection } };
</script>

<style>
</style>
