<template>
  <div
    class="flex justify-start items-center space-x-5 px-4 py-3"
    :class="{ 'bg-white rounded-[15px] shadow-md': isActive }"
  >
    <div
      class="p-3"
      :class="{
        'rounded-[15px] bg-teal-300': isActive,
        'rounded-[15px] bg-white': !isActive,
      }"
    >
      <slot></slot>
    </div>
    <p
      class="text-xs font-bold"
      :class="{ 'text-gray700': isActive, 'text-gray-400': !isActive }"
    >
      {{ label }}
    </p>
  </div>
</template>

<script>
export default {
  name: "Menu",
  props: {
    isActive: Boolean,
    label: String,
  },
};
</script>

<style>
</style>