<template>
    <BasicTable
        :data="projectData"
    >
        <tr v-for="(items, index) in projectData.data" :key="index" :class="{'border-b': index !== projectData.data.length - 1}">
            <td class="py-4 flex items-center space-x-2">
                <img :src="items?.companies.icon" :alt="items?.companies.name">
                <p class="text-sm font-bold text-gray-700">{{items?.companies.name}}</p>
            </td>

            <td class="py-4">
                <div class="flex">
                    <img 
                        v-for="index in (items?.members?.total > 5 ? 5 : items?.members?.total)" 
                        :key="index" 
                        :src="items?.members.avatar" 
                        alt="avatar"
                        :class="{'-ml-3': index !== 1}"
                    />
                </div>
            </td>
            <td class="py-4 text-sm font-bold text-gray-700">{{items?.budget}}</td>
            <td class="py-4 pr-4">
                <p class="text-sm font-bold text-teal-300">{{items?.completion + '%'}}</p>
                <ProgressBar
                    :valuePercent="items?.completion"
                />
            </td>
        </tr>
    </BasicTable>
</template>

<script>
import DotsMenuTools from '../atoms/DotsMenuTools.vue';
import BasicTable from '../atoms/BasicTable.vue';
import { getImgUrl } from '../../libs/functions';
import ProgressBar from '../atoms/ProgressBar.vue';
export default {
    props: {
        projectData: Object,
        
    },
    components: { DotsMenuTools, BasicTable, ProgressBar },
    methods: {
        getImgUrl,
    }
}
</script>

<style>

</style>