<template>
    <div class="flex flex-col xl:flex-row justify-around space-y-4 xl:space-y-0- space-x-0 xl:space-x-6">
        <div class="flex flex-col space-y-4 xl:space-y-6">
            <div class="flex flex-col lg:flex-row justify-between space-y-4 xl:space-y-0 space-x-0 lg:space-x-3 xl:space-x-6">
                <CreditCardSection />

                <CardBillingTotalSection :icon="'/icons/wallet-icon.svg'" :title="'Salary'"
                    :detailTitle="'Belong Interactive'" :total="'+$2000'" />

                <CardBillingTotalSection :icon="'/icons/paypal-icon.svg'" :title="'Paypal'"
                    :detailTitle="'Freelance Payment'" :total="'$455.00'" />
            </div>

            <AddNewCardSection />
        </div>

        <InvoiceSection />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-2 lg:gap-6">
        <BasicCard>
            <p class="text-lg font-bold text-gray-700">Billing Information</p>
            <div class="grid grid-flow-row gap-6 mt-4">
                <BillingInformationSection />
            </div>
        </BasicCard>

        <BasicCard class="space-y-6">
            <div class="flex justify-between items-center">
                <p class="text-lg font-bold text-gray-700">Your Transactions</p>
                <div class="flex items-center space-x-2">
                    <img :src="getImgUrl('/icons/calendar-icon.svg')">
                    <p class="text-sm font-bold text-gray-400">23 - 30 March 2020</p>
                </div>
            </div>

            <TransactionsList :transactionData="transactionData[0]" />
            <TransactionsList :transactionData="transactionData[1]" />
        </BasicCard>
    </div>
</template>

<script>
import { getImgUrl } from '../../../libs/functions';
import BasicCard from '../../atoms/BasicCard.vue';
import IconSection from '../../atoms/IconSection.vue';
import BasicButton from '../../atoms/BasicButton.vue';
import CreditCardSection from '../../atoms/CreditCardSection.vue';
import CardBillingTotalSection from '../../atoms/CardBillingTotalSection.vue';
import AddNewCardSection from '../../molecules/AddNewCardSection.vue';
import InvoiceSection from '../../molecules/InvoiceSection.vue';
import BillingInformationSection from '../../molecules/BillingInformationSection.vue';
import TransactionsList from '../../atoms/TransactionsList.vue';

export default {
    props: {
        transactionData: Object
    },
    methods: {
        getImgUrl
    },
    components: { BasicCard, IconSection, BasicButton, CreditCardSection, CardBillingTotalSection, AddNewCardSection, InvoiceSection, BillingInformationSection, TransactionsList }
}
</script>

<style>
</style>