<template>
  <DefaultTemplate>
    <BillingScreen
      :transactionData="transactionData"
    />
  </DefaultTemplate>
</template>

<script>
import DefaultTemplate from '../../template/Default.vue'
import BillingScreen from '../../pages-components/billing/Screen.vue';
import transactionData from '../../../libs/constant/transactionData.json'

export default {
  components: {
    DefaultTemplate,
    BillingScreen
  },
  data() {
    return {
      transactionData: transactionData
    }
  }
}
</script>

<style>
</style>