<template>
    <div class="flex bg-[#F8F9FA]">
        <Sidebar class="hidden md:block" />
        <div class="w-full min-h-screen">
            <Navbar @showMenu="showMenu" class="fixed w-full md:relative bg-[#F8F9FA] z-50 shadow-md md:shadow-none" />
            
            <Sidebar v-if="isShowMenu" class="fixed mt-20 z-50 bg-[#F8F9FA] md:bg-inherit md:hidden shadow-lg border-t-2" />
            
            <div class="mt-20 md:mt-0 px-5 py-6 space-y-4 xl:space-y-6">
                <slot></slot>
            </div>
            
            <div class="flex justify-center items-center w-full h-14">
                <p class="text-xs text-gray-400">@ 2021, Made with by Creative Tim & Simmmple for a better web</p>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from "./Navbar.vue";
import Sidebar from "./Sidebar.vue";
export default {
    components: {
        Navbar,
        Sidebar
    },
    data() {
        return {
            isShowMenu: false
        }
    },
    methods: {
        showMenu() {
            this.isShowMenu = !this.isShowMenu
        }
    }
}
</script>

<style>
</style>