<template>
    <div class="h-20 flex justify-between items-center px-6 md:px-12">
        <div class="flex flex-col space-y-2">
            <BreadCrumb parent="Page" children="Dashboard" />
            <div>
                <p class="text-sm font-bold text-gray700">Dashboard</p>
            </div>
        </div>

        <NavbarSection class="hidden md:flex"/>
        
        <div @click="$emit('showMenu')" class="block md:hidden cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
    </div>
</template>

<script>
import BreadCrumb from "../atoms/BreadCrumb.vue";
import NavbarSection from "../atoms/NavbarSection.vue";
export default {
    components: {
    BreadCrumb,
    NavbarSection,
}
}
</script>

<style>
</style>