<template>
  <div class="w-full md:w-3/12 md:h-screen">
        <div class="px-6 lg:px-0 hidden md:block h-20 border-b border-b-slate-200 box-border">
            <div class="flex justify-center items-center space-x-3 h-full">
                <img src="/icons/logo-creative-tim-black.svg" width="22" height="22"/>
                <h1 class="hidden md:flex text-sm font-bold">PURITY UI DASHBOARD</h1>
            </div>
        </div>
        <NavbarSection class="flex md:hidden justify-between pt-5 px-6"/>
        <div class="overflow-y-auto flex flex-col justify-center space-y-5 p-4 lg:p-8">
            <router-link to="/">
                <Menu
                    :isActive="routeName == 'Home' ? true : false"
                    label="Dashboard"
                >
                    <SidebarHomeIcon :isActive="routeName == 'Home' ? true : false"/>
                </Menu>
            </router-link>

            <router-link to="/tables">
                <Menu
                    :isActive="routeName == 'Tables' ? true : false"
                    label="Tables"
                >
                    <SidebarChartIcon :isActive="routeName == 'Tables' ? true : false"/>
                </Menu>
            </router-link>

             <router-link to="/billing">
                <Menu
                    :isActive="routeName == 'Billing' ? true : false"
                    label="Billing"
                >
                    <SidebarCardIcon :isActive="routeName == 'Billing' ? true : false"/>
                </Menu>
            </router-link>

            <Menu
                :isActive="false"
                label="RTL"
            >
                <SidebarWrenchIcon :isActive="false"/>
            </Menu>

            <h1 class="text-xs font-bold px-4">ACCOUNT PAGES</h1>

            <Menu
                :isActive="false"
                label="Profile"
            >
                <SidebarPersonIcon :isActive="false"/>
            </Menu>

            <Menu
                :isActive="false"
                label="Sign In"
            >
                <SidebarDocumentIcon :isActive="false"/>
            </Menu>

            <Menu
                :isActive="false"
                label="Sign Up"
            >
                <SidebarRocketIcon :isActive="false"/>
            </Menu>
        </div>
    </div>
</template>

<script>
import Menu from '../molecules/Menu.vue';
import SidebarHomeIcon from '../atoms/SidebarHomeIcon.vue';
import SidebarChartIcon from '../atoms/SidebarChartIcon.vue';
import SidebarCardIcon from '../atoms/SidebarCardIcon.vue';
import SidebarWrenchIcon from '../atoms/SidebarWrenchIcon.vue';
import SidebarPersonIcon from '../atoms/SidebarPersonIcon.vue';
import SidebarDocumentIcon from '../atoms/SidebarDocumentIcon.vue';
import SidebarRocketIcon from '../atoms/SidebarRocketIcon.vue';
import NavbarSection from '../atoms/NavbarSection.vue';
export default {
    components: {
    Menu,
    SidebarHomeIcon,
    SidebarChartIcon,
    SidebarCardIcon,
    SidebarWrenchIcon,
    SidebarPersonIcon,
    SidebarDocumentIcon,
    SidebarRocketIcon,
    NavbarSection
},
    computed: {
        routeName: function() {
            return this.$route.name
        }
    }
}
</script>

<style>

</style>